<div id="content">


  <h1>Html2Pdf</h1>

  <h2>Colors</h2>
  <p>
    <span style='color: red'>red</span> <span style='color: rgb(0, 255, 0)'>rgb(0,255,0)</span> <span style='color: rgba(0, 0, 0, .5)'>rgba(0,0,0,.5)</span> <span style='color: #0000FF'>#0000FF</span> <span style='color: #0FF'>#0FF</span>
  </p>

  <h2>Text Alignment</h2>
  <div style='text-align: left'>left</div>
  <div style='text-align: center'>center</div>
  <div style='text-align: right'>right</div>

  <h1 style='page-break-before: always; margin-top:100px;'>Page Two</h1>
  <p>
    This demo uses Html2Canvas.js to render HTML. <br />Instead of using an HTML canvas however, a canvas wrapper using jsPDF is substituted. The <em>context2d</em> provided by the wrapper calls native PDF rendering methods.
  </p>

  <!--<div>
    <img src="../assets/images/background.jpg" height="100px" class="rounded" alt="background">
  </div>

  <div>
    <img src="../assets/images/background.jpg" height="100px" class="rounded" alt="background">
  </div>-->

  <p>A PDF of this page will be inserted into the right margin.</p>

  <h2>Colors</h2>
  <p>
    <span style='color: red'>red</span> <span style='color: rgb(0, 255, 0)'>rgb(0,255,0)</span> <span style='color: rgba(0, 0, 0, .5)'>rgba(0,0,0,.5)</span> <span style='color: #0000FF'>#0000FF</span> <span style='color: #0FF'>#0FF</span>
  </p>

  <h1 style='page-break-before: always; margin-top:100px;'>Yet Another Page</h1>
  <h2>Text Alignment</h2>
  <div style='text-align: left'>left</div>
  <div style='text-align: center'>center</div>
  <div style='text-align: right'>right</div>
  <h2>Look here</h2>
  <p>
    This demo uses Html2Canvas.js to render HTML. <br />Instead of using an HTML canvas however, a canvas wrapper using jsPDF is substituted. The <em>context2d</em> provided by the wrapper calls native PDF rendering methods.
    This demo uses Html2Canvas.js to render HTML. Instead of using an HTML canvas however, a canvas wrapper using jsPDF is substituted. The <em>context2d</em> provided by the wrapper calls native PDF rendering methods.
  </p>
  <p>A PDF of this page will be inserted into the right margin.</p>

  <h2>Colors</h2>
  <p>
    <span style='color: red'>red</span> <span style='color: rgb(0, 255, 0)'>rgb(0,255,0)</span> <span style='color: rgba(0, 0, 0, .5)'>rgba(0,0,0,.5)</span> <span style='color: #0000FF'>#0000FF</span> <span style='color: #0FF'>#0FF</span>
  </p>

  <h2>Text Alignment</h2>
  <div style='text-align: left'>left</div>
  <div style='text-align: center'>center</div>
  <div style='text-align: right'>right</div>
  <p>
    This demo uses Html2Canvas.js to render HTML. <br />Instead of using an HTML canvas however, a canvas wrapper using jsPDF is substituted. The <em>context2d</em> provided by the wrapper calls native PDF rendering methods.
  </p>
  <p>A PDF of this page will be inserted into the right margin.</p>

  <h2>Colors</h2>
  <p>
    <span style='color: red'>red</span> <span style='color: rgb(0, 255, 0)'>rgb(0,255,0)</span> <span style='color: rgba(0, 0, 0, .5)'>rgba(0,0,0,.5)</span> <span style='color: #0000FF'>#0000FF</span> <span style='color: #0FF'>#0FF</span>
  </p>

  <h2>Text Alignment</h2>
  <div style='text-align: left'>left</div>
  <div style='text-align: center'>center</div>
  <div style='text-align: right'>right</div>

  <h1 style='page-break-before: always;'>Yet Another Page</h1>
  <p>Hello there</p>
  <p>Hello there</p>
  <p>Hello there</p>
  <p>Hello there</p>
  <p>Hello there</p>
  <p>Hello there</p>
  <table class="table">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Default</td>
      <td>Defaultson</td>
      <td>def@somemail.com</td>
    </tr>
    <tr class="table-primary">
      <td>Primary</td>
      <td>Joe</td>
      <td>joe@example.com</td>
    </tr>
    <tr class="table-success">
      <td>Success</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr class="table-danger">
      <td>Danger</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr class="table-info">
      <td>Info</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
    <tr class="table-warning">
      <td>Warning</td>
      <td>Refs</td>
      <td>bo@example.com</td>
    </tr>
    <tr class="table-active">
      <td>Active</td>
      <td>Activeson</td>
      <td>act@example.com</td>
    </tr>
    <tr class="table-secondary">
      <td>Secondary</td>
      <td>Secondson</td>
      <td>sec@example.com</td>
    </tr>
    <tr class="table-light">
      <td>Light</td>
      <td>Angie</td>
      <td>angie@example.com</td>
    </tr>
    <tr class="table-dark text-dark">
      <td>Dark</td>
      <td>Bo</td>
      <td>bo@example.com</td>
    </tr>
    </tbody>
  </table>

  <p *ngFor="let p of paragraphs$ | async">{{p.body}}</p>


</div>

<div>
  <br><br>
  <button type="button" class="btn btn-primary" (click)="htmltoPDF()">Convert</button>
</div>

